html,
body {
  font-family: sans-serif;
}

body {
  background-image: url("Slike/wallpaper.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.BgClass {
  background-image: url('Slike/wallpaper2.jpg');
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

li {
  float: left;
  padding: 5px;
}

#button {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 30px;
}

li a:hover:not(.active) {
  background-color: #838383;
}

.active {
  background-color: #838383;
}

#prvi {
  display: flex;
}
#typedtext{
  font-family: 'Waiting for the Sunrise', cursive; 
  font-size:30px; 
  margin: 10px 50px; 
  letter-spacing: 6px; 
  font-weight: bold;
  color: white;
  text-align: center;
}